# This file contains common pin mappings for the BIGTREETECH SKR Pico V1.0
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.

# The "make flash" command does not work on the SKR Pico V1.0. Instead,
# after running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

## Voron Design VORON 0.2 SKR Pico V1.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Motor currents                                                               [extruder] [stepper] and [_HOME_X/Y] macro sections
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section
## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0

#####################################################################
# Includes
#####################################################################
[include mainsail.cfg]
[include configs/*]
[include gcode/*]

#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044506130AA291C-if00
restart_method: command

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2C0019000450315741363420-if00

[mcu display]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_240026000743564E32313720-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 750
max_accel: 15000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 6.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.485
#*# pid_ki = 8.035
#*# pid_kd = 32.834
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.335
#*# pid_ki = 1.747
#*# pid_kd = 454.198
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 81.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 68.4
