[exclude_object]

[force_move]

[shaketune]

[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

[screws_tilt_adjust]
screw1: 60,0
screw1_name: front screw
screw2: 5,98
screw2_name: back left
screw3: 115,98
screw3_name: back right
horizontal_move_z: 15
screw_thread: CW-M3

[bed_mesh]
mesh_min: 5,17
mesh_max: 115,115
probe_count: 5,5
zero_reference_position: 60,60
horizontal_move_z: 15

[resonance_tester]
accel_chip: lis2dw
probe_points: 60,60,30
#sweeping_period: 0

[input_shaper]
shaper_type_x: ei
shaper_freq_x: 99.4
damping_ratio_x: 0.050
shaper_type_y: ei
shaper_freq_y: 78.0
damping_ratio_y: 0.055
