[heater_bed]
heater_pin: gpio21
sensor_type: Generic 3950
sensor_pin: gpio26
smooth_time: 3.0
min_temp: 0
max_temp: 115

[extruder]
heater_pin: umb:gpio4
sensor_type:  Generic 3950
pullup_resistor: 2200
sensor_pin: umb:gpio29
min_temp: 0
max_temp: 305
# max_power: 0.50
